ul.movie-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    list-style: none;
    padding: 0 36px 36px 36px;
}

.movie-list .movie-list__spinner {
    margin-left: auto;
    margin-top: auto;
}

.movies-ist__tags {
    height: 30px;
    overflow: hidden;
}

